.containerTurnos {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorInput {
  background-color: rgba(0, 0, 0, 0.588);
  padding: 20px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.contenedorInput select {
  padding: 10px;
}

.button {
  background-color: transparent;
  padding: 4px;
  color: white;
  letter-spacing: 2px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: white;
  color: black;
  transition: 1s;
}


.contenedorFecha{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputTurnos{
    margin: 10px;
    padding: 10px;
}


.buttonFechaReserva{
    background-color: rgb(73, 73, 73);
    padding: 8px;
    color: white;
    letter-spacing: 2px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;

}

.buttonFechaReserva:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 1s;
  }