
.video {

 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
  

}

.containerComponent {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerComponentTurnos{
  background-image: url('./images-videos/barber-shop.jpg');
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}